.container {
  background-color: #f8f9fc;
  font-family: 'Segoe UI', sans-serif;
  margin-left: -51px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 50px;
  padding-bottom: 0px;
  display: flex;
  height: 100vh;
  width: 100vw;
}
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .assetTable {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
  }
  
  .assetTable th,
  .assetTable td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
  }
  
  .assetTable th {
    background-color: #262756;
    color: white;
  }
  
  .assetTable tr:hover {
    background-color: #f1f3f9;
  }
  
  .assetTable img {
    width: 100px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
  }


  .downloadBtn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.viewBtn {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

  